@font-face {
  font-family: "Medium";
  src: local("Aubrey"), url("./Assets/fonts/AUBREY.TTF") format("truetype");
}
@font-face {
  font-family: "Verdana-text";
  src: local("Verdana"), url("./Assets/fonts/Verdana.ttf") format("truetype");
}
